<div class="social_module">
  <?php if($heading_title) { ?>
    <div class="left_column_title"><?php echo $heading_title; ?></div>
  <?php } ?>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 3, no_cover: 1, width: "260", color2: '591414', color3: '0080CB'}, 33375717);
    </script>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdomknigi.inform&tabs&width=260&height=230&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="260" height="230" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <script>
    !function (d, id, did, st) {
      var js = d.createElement("script");
      js.src = "https://connect.ok.ru/connect.js";
      js.onload = js.onreadystatechange = function () {
      if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
        if (!this.executed) {
          this.executed = true;
          setTimeout(function () {
            OK.CONNECT.insertGroupWidget(id,did,st);
          }, 0);
        }
      }}
      d.documentElement.appendChild(js);
    }(document,"ok_group_widget","53591618158773",'{"width":250,"height":285}');
    </script>
</div>
