@import "variables.less";
@import "slick.less";
@import (inline) "../bootstrap/css/bootstrap.min.css";
@import (inline) "../stylesheet/jquery.bxslider.css";
@import (inline) "../stylesheet/owl.carousel.css";
@import (inline) "../stylesheet/jquery.fileupload.css";
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
    background-image: url("../image/body.png");
}
@font-face {
    font-family: "Proxima Nova Regular"; 
    src: url("../fonts/Proxima Nova Regular.otf"); 
}
@font-face {
    font-family: "Proxima Nova Semibold"; 
    src: url("../fonts/Proxima Nova Semibold.otf"); 
}
button {
    outline: none;
}
h1, h2, h3, h4, h5, h6, .category_title, .title_feedback {
	color: #444;
    font-family: "Proxima Nova Regular", sans-serif;
}
/* default font size */
.fa {
	font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 42px;
    line-height: 50px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #354146;
}
a:hover {
	text-decoration: none;
    color: @color_main4;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 14px;
    color: @gray-base;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
.big_blue_circle {
    background: @color_blue;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    &:hover {
        background: @color_blue_dark;
    }
}
/* button circle with border */
.btn_circle_border {
    height: 50px;
    width: 50px;
    border: 1px solid @color_main2;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:hover {
        background: @color_main3;
    }
}
.btn_circle_background_blue_big {
    background: @color_blue;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: relative;
    padding: 0;
    outline: 0;
    display: block;
    &:hover {
        background: @color_blue_dark;
    }
}
/* button circle with background */
.btn_circle_background_big {
    background: @color_main3;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 10px;
    position: relative;
    padding: 0;
    outline: 0;
    display: block;
    &:hover {
        background: @color_main2;
    }
}
.btn_circle_background_small {
    display: inline-block;
    background: #edf0f9;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-left: 10px;
    position: relative;
    outline: 0;
    padding: 11px;
    text-align: center;
    line-height: 1em;
    &:hover {
        background: @color_blue;
        & i {
            color: #fff;
        }
    }
}
.green_button {
    padding: 20px 30px;
    color: #fff;
    font-size: 14px;
    background: @color_green;
    border-radius: 30px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover {
        background: #00ba60;
        color: #fff;
    }
}
.btn_big_blue {
    min-width: 100px;
    //display: block;
    margin-top: 20px;
    background: @color_blue;
    padding: 15px 30px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    &:hover {
        background: @color_blue_dark;
        color: #fff;
    }
}
.btn_blue_disabled {
    background: @color_main2;
    &:hover {
        background: @color_main2;
    }
}
.btn_big_gray {
    min-width: 100px;
    margin-top: 20px;
    background: @color_main2;
    padding: 15px 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    &:hover {
        background: @color_blue_dark;
        color: #fff;
    }
}
.btn_gray {
    background: @color_main3;
    padding: 10px 15px;
    border-radius: 20px;
    & i {
        margin-right: 10px;
    }
}
.btn {
    background: @color_blue;
    padding: 10px 19px;
    color: #fff;
    font-size: 12px;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    outline: none;
    &:hover {
        background: @color_blue_dark;
        color: #fff;
    }
    & a {
        &:hover {
            color: #fff;
        }
    }
}
.succec_circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: @color_blue;
    display: inline-block;
    margin-bottom: 15px;
    & i {
        font-size: 20px;
        color: #fff;
        line-height: 60px;
    }
}
.btn_wishlist {
    background-color: #e8887b !important;
    & i {
        color: #fff;
    }
}
.icon_left {
    margin-right: 7px;
}
.icon_right {
    margin-left: 7px;
}
/* color */
.color_blue {
    color: @color_blue;
}
.color_gray {
    color: @color_main1;
}
.btn-primary, .btn-default {
    border: none;
}
.input_search {
    padding: 20px 50px;
    border: 1px solid @color_main2;
    border-radius: 30px;
    width: 100%;
    background: url("../image/icon_search2.png") no-repeat;
    background-position: 4%, 50%;
    outline: none;
}
.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.radio + label {
    cursor: pointer;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 45px;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: @color_main3;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: @color_blue;
    opacity: 0;
    transition: all .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
//.radio:focus + label:before {
//    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
//}
.radio_label {
    font-size: 16px;
}
input, {
  &::-moz-placeholder           { color: @gray-base; font-size: 14px; } // Firefox
  &:-ms-input-placeholder       { color: @gray-base; font-size: 14px; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @gray-base; font-size: 14px; } // Safari and Chrome
}
select.form-control {
    padding: 15px 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: #fff;
    border: 1px solid #dce0eb;
    cursor: pointer;
}
.select_custom {
    position: relative;
}
.select_custom:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    background-color: #dce0eb;
    color: @color_main1;
    border-radius: 50%;
    right: 20px;
    top: 12px;
    z-index: 1;
    text-align: center;
    width: 25px;
    height: 25px;
    pointer-events: none;
    line-height: 25px;
}
.form_input_file {
    margin-bottom: 40px;
    & input[type="file"] {
        display: none;
    }
    & .input_file {
        display: inline-block;
        background: @color_main2;
        height: 40px;
        width: 100%;
        max-width: 200px;
        position: relative;
        padding: 15px 10px 15px 50px;
        border-radius: 20px;
        line-height: 12px;
        text-transform: none;
        font-size: 14px;
        cursor: pointer;
        & span {
            position: absolute;
            background: #fff;
            border-radius: 50%;
            left: 2px;
            top: 1px;
            height: 38px;
            width: 38px;
            padding: 13px 0;
            text-align: center;
            & i {
                font-size: 14px;
                color: #a6adc3;
            }
        }
    }
    & .contact_file_list {
        display: inline-block;
        margin-left: 20px;
        & .contact_file_item {
            font-size: 14px;
            color: @color_main1;
            margin-right: 18px;
        }
    }
}
/* top */
/* modal */
button.close {
    border: 1px solid;
}
.modal-backdrop.in {
    opacity: 1;
}
.modal-backdrop {
    background-color: #fff;
}
.close {
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: @color_main2;
    text-shadow: none;
    filter: alpha(opacity=20);
    opacity: 1;
    height: 40px;
    width: 40px;
    border: 1px solid @color_main2;
    border-radius: 50%;
    z-index: 1042;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
}
@media (max-width:670px) {
    .modal_border {
        display: none;
    }
}
.modal-content {
    box-shadow: none;
    border: none;
    & .btn_big_blue {
        display: inline-block;
        min-width: 140px;
    }
    & .modal-header {
        border: none;
        text-align: center;
        margin-bottom: 10px;
        & h4 {
            font-size: 30px;
        }
        & .modal_small_title {
            display: block;
            font-size: 16px;
            color: @color_main1;
            & a {
                color: @color_blue;
            }
        }
    }
    & .modal-body {
        & .form-group {
            margin-bottom: 30px;
        }
        & span {
            display: block;
        }   
    }
    & .modal_block_center {
        padding: 10px 0 40px;
    }
    & .block_social_signup {
        padding: 40px 10px 20px;
        border-top: 1px solid @color_main2;
        & .btn_circle_border {
            &:hover {
                border-color: @color_blue;
                background: none;
                & i {
                    color: @color_blue;
                }
            }
        }
        & span {
            display: block;
            margin-bottom: 30px;
            font-size: 18px;
        }
        & a {
            display: inline-block;
            margin-right: 20px;
            color: @color_main1;
            position: relative;
            line-height: 50px;
            & i {
                color: @color_main2;
            }
        }
    }
    & .modal-footer {
        text-align: center;
        border-top: none;
        & .small_text {
            color: #a6adc3;
            font-size: 12px;
            line-height: 22px;
        }
        & span {
            font-size: 16px;
            color: @color_main1;
        }
        & .btn_big_blue, & .btn_big_gray {
            display: inline-block;
            margin-top: 0;
        }
    }
    & .modal_autorization_block {
        padding: 0 20px;
    }
}
.modal_city_list {
    padding: 40px 0;
    & .modal_city_item {
        font-size: 14px;
        padding: 10px;
        &:hover {
            background: @color_main3;
            border-radius: 5px;
        }
        & a {
            color: @color_blue;
            &:hover {
                color: @color_main4;
            }
        }
    }
    &.sity_list_feachur {
        & .modal_city_item a {
            color: @color_main4;
            &:hover {
                color: @color_blue;
            }
        }
    }
}
#top {
    background-color: @color_main3;
    padding: 17px 0;
    margin: 0 0 20px;
    min-height: 40px;
    font-size: 12px;
    line-height: 16px;
    & .top_links_list {
        margin: 0;
        padding: 0;
        & .top_links_item {
            margin-left: 30px;
            & .top_telefone {
                color: #9096a8;
                font-size: 14px;
            }
            & a {
                font-size: 14px;
                color: #9096a8;
            }
            &:first-child {
                float: left;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
}
#top .btn-link, #top-links li, #top-links a {
	color: @color_main1;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
/* logo */
#logo {
    margin-bottom: 15px;
    & > a {
        display: block;
        margin-bottom: 4px;
    }
    & > span {
        text-align: center;
        width: 160px;
        display: block;
        font-size: 10px;
        line-height: 14px;
        color: #a4a4a4;
    }
}
/* search */
.search_main {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    & .input-lg {
        height: 50px;
        line-height: 20px;
        padding: 20px 21px;
        border-radius: 50px;
        border: 1px solid;
        border-color: @color_blue;
        box-shadow: none;
        transition: 0.5s all;
        position: relative;
        background-color: #fff;
        &:focus {
            background: #fff;
            border: 1px solid @color_blue;
        }
    }
    & > span {
        position: absolute;
        right: 60px;
        color: @color_blue;
        top: 50%;
        z-index: 3;
        font-size: 14px;
        border-bottom: 1px dashed @color_blue;
        transform: translate(0, -50%);
        cursor: pointer;
        & .search_select_text {
            height: 50px;
            display: block;
            color: @color_blue;
        }
    }
    & .btn-lg {
        position: absolute;
        text-shadow: 0 1px 0 #FFF;
        right: 0px;
        z-index: 2;
        height: 50px;
        border-radius: 50px;
        width: 50px;
        border: none;
        background: @color_blue url("../image/icon_search.png") no-repeat 50% 50%;
        outline: none;
        z-index: 666;
        transition: 0.5s all;
        top: 0;
        &:hover {
            background-color: @color_blue_dark;
        }
    }
}
.search_select {
    display: block;
    position: relative;
    height: 20px;
}
.search_select_box {
    display: none;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
    position: absolute;
    width: 230px;
    top: 50px;
    right: -30px;
    z-index: 666;
    transition: .5s all;
    color: #000;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.14);
    background: #fff;
    & .search_select_list {
        margin: 0;
        & .search_select_item {
            padding: 10px;
            &:hover {
                background: @color_main3;
                border-radius: 10px;
            }
        }
    }
}
.search_select_box:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 30px;
    box-sizing: border-box;
    border: 9px solid #000;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -7px 5px 11px 0 rgba(125, 125, 125, 0.14);
}
.search_select:hover .search_select_box {
    display: block;
}
.search_top_wrapper, .cart_top_wrapper {
    padding-top: 25px;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .cart_head_list {
    margin: 0;
    padding: 0;
    & .cart_head_item {
        padding: 0;
        margin-right: 17px;
        vertical-align: middle;
        &:last-child {
            margin-right: 0;
        }
        & .btn_circle_background_big {
            margin: 0;
        }
        & .cart_count {
            position: absolute;
            top: -5px;
            right: -4px;
            width: 25px;
            height: 25px;
            background: @color_green;
            border-radius: 15px;
            color: #fff;
            border: 3px solid #fff;
            font-size: 10px;
            line-height: 18px;
            text-align: center;
        }    
    }
    & .btn_pic {
        background: url("../image/sprites/sprite_main.png") no-repeat;
        display: block;
        width: 20px;
        height: 21px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    & .btn_pic_key {
        background-position: -85px -15px;
    }
    & .btn_pic_star {
        background-position: -45px -56px;
    }
    & .btn_pic_cart {
        background-position: -45px -15px;
    }
    & .total_price {
        float: right;
        font-size: 18px;
        & i {
            margin-left: 7px;
        }
    }
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
.header_menu_big {
    background: @color_blue;
}
#menu {
    &.navbar-default {
        border: none;
        background: none;
        margin: 0;
        & .navbar-toggle {
            border-color: #fff;
            & .icon-bar {
                background-color: #fff;
            }
            &:hover, &:focus {
                background-color: @color_blue_dark;
            }
        }
    }
    & .navbar-collapse {
        padding: 0;
        &.in {
            overflow-y: inherit;
        }
    }
    & .navbar-nav {
        width: 100%;
        max-height: 50px;
        & li {
            margin-right: 50px;
            & a {
                font-size: 18px;
                padding: 15px 10px 15px 0;
                transition: 0.3s all;
                .header_big & {
                    color: #fff;
                }
                @media (max-width:768px){
                    padding-left: 15px;
                }
            }
            &:last-child {
                float: right;
                margin-right: 0;
            }
            &:last-child a {
                padding-right: 0px;
                color: #fff;
                & img {
                    margin-right: 10px;
                    vertical-align: middle;
                    margin-top: -2px;
                }
                &:hover {
                    color: #fff;
                }
            }
            &:hover a {
                transform: translate(10px, 0);
            }    
        }
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
        @media (max-width:1200px) {
            height: auto;
        }
    }
    @media (min-width: 768px) {
        & .navbar-nav>li {
            float: none;
            display: inline-block;
        }
    }
}
.menu_catalog_active a {
    transform: translate(10px, 0);
}

.main_menu_dropmenu {
//    display: none;
//    z-index: 1000;
//    background: #fff;
    display: none;
    z-index: 1000;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    & .main_menu_drop_list {
//        padding-top: 35px;
        & .main_menu_drop_item {
            width: 30%;
            font-size: 16px;
            padding: 15px 15px 15px 15px;
            transition: 0.5s all;
            cursor: pointer;
            background: #fff;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.1), 0 5px 10px 0 rgba(0,0,0,.1);
            &:first-child, &:last-child {
                height: 20px;
                padding: 10px;
                &:hover {
                    background: #fff;
                }
            }
            & i {
                float: right;
                margin-right: 20px;
                color: @color_main1;
                display: none;
            }
            @media (min-width:670px) {
                &.main_menu_drop_item_active > .main_menu_dropmenu_right {
                    display: block;
                }    
            }
            & .main_menu_main_link {
                display: block;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
            }
            @media (max-width:670px) {
                & {
                    width: 100%;
                }
            }
        }
        & .main_menu_drop_item_active {
//            background: @color_main3;
            padding-left: 15px;
            & .main_menu_main_link {
                color: @color_blue;
                &:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    color: #b9bfd2;
                    position: absolute;
                    right: 10px;
                }
            }
            & i {
                display: block;
            }
        }
    }
    & .main_menu_dropmenu_right {
        display: none;
        position: absolute;
        z-index: 616;
        right: 0;
        top: 0;
        width: 70%;
        transition: all 0.5s ease 0s;
        padding: 0 20px;
        overflow: hidden;
        background-color: #fff;
        min-height: 100%;
        border-left: 1px solid @color_main2;
        padding-top: 35px;
        column-count: 3;
        column-gap: 40px;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.1), 0 5px 10px 0 rgba(0,0,0,.1);
        & .drop_item_list_item {
            color: @color_main4;
            font-size: 16px;
            margin-bottom: 15px;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            & a {
                font-size: 16px;
                margin-bottom: 15px;
            }
            & .drop_item_list_item_drop {
                & .drop_item_list_item_drop_item {
                    display: block;
                    padding: 7px 0;
                    & a {
                        color: #a6adc3;
                        font-size: 14px;
                    }
                    &:hover a {
                        color: @color_blue;
                    }
                }
            }
            & .drom_item_list_item_mainlink {
                display: block;
                margin-bottom: 13px;
            }
            &:hover a{
                color: @color_blue;
            }
        }
        & .main_menu_link_showall {
            display: inline-block;
            background-color: @color_main3;
            border-radius: 30px;
            padding: 12px 20px 12px 40px;
            position: relative;
            font-size: 14px;
            &:before {
                content: "\f0c9";
                font-family: FontAwesome;
                position: absolute;
                top: 12px;
                left: 20px;
            }
        }
        @media (max-width:1000px) {
            & {
                column-count: 2;
            }
        }
//        @media (max-width:670px) {
//            & {
//                display: none;
//            }
//        }
    }
}
@media (max-width:767px) {
    .main_menu_dropmenu .main_menu_drop_list .main_menu_drop_item:first-child, .main_menu_dropmenu .main_menu_drop_list .main_menu_drop_item:first-child {
        display: none;
    }
}
/* right column cart */
.right_column_cart {
    padding-left: 15px;
    & .right_column_title {
        font-size: 24px;
        margin-bottom: 28px;
        display: block;
    }
    & .btn_big_blue {
        display: block;
    }
    & .right_column_list_product {
        font-size: 14px;
        margin-bottom: 20px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid @color_main2;
        & .right_column_item_product {
            margin-bottom: 20px;
            & .item_product_title {
                display: block;
                margin-bottom: 18px;
            }
            & .item_product_count {
                color: @color_main1;
                margin-right: 10px;
            }
            & i {
                font-size: 10px;
                margin-left: 4px;
            }
            & span:last-of-type {
                font-size: 16px;
            }
        }
    }
    & .right_column_footer_wrapp {
        display: inline-table;
        width: 100%;  
    }
    & .right_column_footer {
        font-size: 12px;
        text-transform: uppercase;
        width: 50%;
        display: inline-block;
    }
    & .right_column_footer_price {
        font-size: 18px;
        & i {
            margin-left: 5px;
            font-size: 12px;
        }
    }
}

/* header small */
.header_small {
    display: none;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 667;
    width: 100%;
    padding-top: 15px;
    box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.14);
    & #menu .navbar-nav li:last-child a img {
        display: none;    
    }
    & .navbar {
        display: inline-block;
    }
    & .header_small_cart {
        display: inline-block;
        & #cart>.cart_head_list .cart_head_item {
            margin-right: 10px;
        }
    }
    & #logo {
        display: inline-block;
        margin-right: 40px;
        & img {
            width: 120px;
        }
    }
    & #menu .navbar-nav li {
        margin-right: 15px;
        &:hover {
            border-bottom: 1px solid @color_blue;
            & a {
                transform: translate(0,0);
            }
        }
        &:last-child:hover {
            border-bottom-color: #e8887b;
        }
    }
    & #menu .navbar-nav li a {
        font-size: 16px;
        color: @gray-base;
    }
    & #menu .navbar-nav li:last-child a {
        color: #e8887b;
        font-weight: bold;
    }
    @media (max-width:1200px) {
        display: none;
    }
}

/* product page */
.product_content {
    padding-bottom: 55px;
    border-bottom: 1px solid @color_main2;
}
.product_header {
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 0 40px 0;
    & .product_header_title_id {
        color: @color_main1;
    }
    & .product_header_id {
        margin-right: 40px;
    }
    & .product_header_have {
        color: #00c665;
    }
    & span.product_header_have {
        margin-right: 40px;
    }
    & .star_product {
        display: inline-block;
        margin-right: 15px;
        vertical-align: text-bottom;
        & .fa-stack {
            width: 18px;
            padding-top: 4px;
        }
        & .fa-star, & .fa-srar-o, & .fa {
            color: #ffd800;
        }
    }
}
.product_atributes_list {
    & .product_atributes_item {
        font-size: 14px;
        margin-bottom: 23px;
        display: block;
        & span {
            display: inline-block;
            position: relative;
        }
        & .txt {
            position: relative;
            width: 50%;
            & span {
                position: relative;
                z-index: 2;
                background: #fff;
            }
        }
        & .txt:after {
            position: absolute;
            width: 100%;
            overflow: hidden;
            bottom: 1px;
            left: 0;
            content: "..............................................................................................................................................";
            letter-spacing: 1px;
            z-index: -1;
            color: @color_main2;
        }
        & > span:last-child {
            color: @color_blue;
            width: 49%;
            vertical-align: top;
            padding-left: 5px;
        }
    }
}
.product_atributes_list_product_hidden {
    display: none;
}
.all_atributes {
    color: @color_main1;
    font-size: 14px;
    border-bottom: 1px dashed @color_main1;
    cursor: pointer;
    & .pic_arrow {
        color: @color_main2;
    }
}
.product_new_price {
    font-size: 16px;
    margin-right: 20px;
    & i {
        font-size: 14px;
        margin-left: 4px;
    }
}
.product_odl_price {
    font-size: 14px;
    color: @color_main2;
    text-decoration: line-through;
    margin-right: 35px;
    & i {
        font-size: 14px;
        margin-left: 4px;
    }
}
.full_product {
    display: block;
    padding-top: 40px;
    & .full_product_price {
        margin-top: 16px;
    }
    & .right_column_buy {
        margin-top: 0px;
        padding: 15px 10px;
        display: inline-block;        
    }
    & .btn_big_blue {
        display: inline-block;
        margin-top: 0;
    }
    & .btn_circle_background_big {
        vertical-align:bottom;
        display: inline-block;
    }
    & .btn:first-child {
        margin-left: 0px;
    }
}
.feedback_header {
    padding: 50px 0 15px 0;
    & .feedback_authorization {
        margin: 35px 0;
        padding: 20px;
        text-align: center;
        color: @color_blue;
        font-size: 16px;
        border: 1px solid @color_main2;
        border-radius: 5px;
        & i {
            font-size: 20px;
            margin-right: 13px;
        }
        & a {
            color: @color_blue;
        }
    }
}
.title_feedback {
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
}
.count_feedback {
    margin-left: 20px;
    background: #edf0f9;
    color: @color_main1;
    padding: 8px 9px;
    font-size: 14px;
    border-radius: 30px;
    min-width: 35px;
    display: inline-block;
    text-align: center;
}
.feedback {
    & .feedback_list {
        padding: 0px;
        & .feedback_item {
            margin-bottom: 40px;
            & .feedback_user {
                & .feedback_user_avatar {
                    height: 70px;
                    width: 70px;
                    overflow: hidden;
                    display: block;
                    border-radius: 50px;
                    position: relative;
                    & img {
                        height: 100%;
                        width: auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
                & .feedback_user_desc {
                    float: left;
                    margin-left: 20px; 
                    margin-top: 12px;
                    & span {
                        display: block;
                        &:first-child {
                            font-size: 16px;
                            margin-bottom: 8px;
                        }
                        &:last-child {
                            font-size: 12px;
                            color: #a6adc3;
                        }
                        & i {
                            margin-right: 4px;
                        }
                    }
                }
            }
            & .feedback_stars {
                text-align: right;
                font-size: 12px;
                text-transform: uppercase;
                color: @color_main1;
                margin-top: 12px;
                & .star_product {
                    margin-bottom: 8px;
                    & .fa-stack {
                        width: 18px;
                    }
                    & .fa-star, & .fa-srar-o, & .fa {
                        color: #ffd800;
                    }
                }
            }
            & .feedback_text {
                padding: 25px 0 0 0;
                font-size: 16px;
                line-height: 28px;
                overflow: hidden;
                position: relative;
                & .clearboth {
                    height: 30px;
                }
            }
            & .truncate_more_link {
                color: @color_main1;
                position: absolute;
                z-index: 10;
                border-bottom: 1px dashed @color_main1;
                text-decoration: none;
            }
            & .feedback_text_wrap:after {
                z-index: 5;
                content: "";
                height: 100px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 90%);
            }
        }
    }
}
.thumbnail {
    border: none;
    & img {
        border-radius: 3px;
        margin: 0;
    }
}
/* content */
#content {
	min-height: 600px;
    & h1 {
        margin-top: 0px;
    }
}

/* cart content */
.left_column_cart {
    padding-right: 100px;
    border-right: 1px solid @color_main2;
    @media (max-width:991px) {
        & {
            padding-right: 50px;
        }
    }
}
.table_cart_head {
    border-bottom: 1px solid @color_main2;
}
.table_cart_tr {
    padding: 30px 0px;
    font-size: 16px;
    border-bottom: 1px solid @color_main2;
    & div:nth-child(2) {
        margin-top: 22px;
    }
    & .table_cart_count {
        margin-top: 40px;
    }
    & .table_cart_price {
        margin-top: 50px;
    }
    & .table_cart_delete {
        margin-top: 40px;
    }
    & .table_cart_tr_title, &.table_cart_tr_text {
        font-size: 14px;
        display: block;
    }
    & .table_cart_tr_title {
        color: @color_main1;
        margin-top: 20px;
    }
    & .form-control {
        display: inline-block;
        width: 35px;
        margin: 0px 11px;
        padding: 6px 0;
        text-align: center;
    }
    & .fa-plus, & .fa-minus {
        color: @color_main1;
        font-size: 14px;
        cursor: pointer;
    }
    & .fa-rub {
        font-size: 12px;
        margin-left: 4px;
    }
}
.table_cart_tr_delete {
    border: 1px solid #dce0eb;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    & .fa {
        font-size: 12px;
        color: @color_main1;
    }
    &:hover {
        background-color: @color_main3;
    }
}
.table_cart_footer {
    padding-top: 30px;
    & span {
        font-size: 12px;
        text-transform: uppercase;
    }
    & .table_cart_full_price {
        margin: 0 4px 0 30px;
        font-size: 14px;
    }
    & i {
        font-size: 12px;
    }
}
.form-group {
    margin-bottom: 30px;
    label {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 18px; 
    }
    & .form_group_star {
        color: #ff0000;
        margin-left: 5px;
    }
}
.form-control {
    height: 50px;
    padding: 20px 25px;
    background: @color_main3;
    color: @color_main1;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    transition: 0.5 all;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    &:focus {
        background-color: #fff;
        border: 1px solid @color_main2;
        box-shadow: none;
        outline: none;
    }
}
.table_cart_title {
    margin-bottom: 25px;
    font-size: 12px;
    color: @color_main1;
    text-transform: uppercase;
}
.cart_img_link {
    display: block;
    height: 115px;
    & .img-thumbnail {
        width: auto;
        height: 100%;
        border: none;
    }
}

.title_cart {
    font-size: 24px;
    margin: 0 0 40px 0;
    display: block;
}
.cart_text {
    color: @color_main1;
    font-size: 14px;
}
.cart_text_blue {
    color: @color_blue;
}
.cart_block {
    font-size: 14px;
    margin-top: 80px;
    &:nth-child(3) {
        margin-top: 50px;
    }
    &:nth-child(4), &:nth-child(5) {
        margin-top: 30px;
    }
    .form-group {
        margin-bottom: 50px;
    }
    & .radio_desc {
        .cart_text;
        color: #9096a8;
        font-size: 14px;
        display: block;
        margin-left: 45px;
        display: block;
        margin-top: 10px;
    }
    & .select_sity_delivery {
        color: @color_blue;
        border-bottom: 1px dashed @color_blue;
    }
    & .cart_list_buy_data {
        margin: 0;
        padding: 0;
        & .cart_block_item {
            margin-bottom: 25px;
            & .radio {
                display: inline-block;
            }
            & .cart_block_item_left_select {
                display: inline-block;
                position: relative;
                width: 89%;
                @media (max-width: 441px) {
                    & {
                        width: 100%;
                    }
                }
                & .cart_block_item_left_wrapper {
                    display: inline-block;
                    background: #fff;
                    padding-right: 10px;
                }
                &:after {
                    position: absolute;
                    width: 100%;
                    overflow: hidden;
                    bottom: 4px;
                    left: 0;
                    content: "..............................................................................................................................................";
                    letter-spacing: 1px;
                    z-index: -1;
                    color: @color_main2;
                }
            }
            & .cart_block_item_right {
                display: inline-block;
                width: 10%;
                text-align: right;
                font-size: 16px;
                & i {
                    font-size: 10px;
                }
                @media (max-width:441px) {
                    & {
                        width: 100%;
                    }
                }
            }
            & img {
                margin-left: 30px;
            }
        }    
    }
}
.cart_city_delivery {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    cursor: pointer;
    & i {
        font-size: 16px;
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 5px;
        }
    }
}
.cart_box_help {
    margin: 75px 0 40px;
    border: 1px solid @color_main3;
    border-radius: 5px;
    padding: 30px;
    color: @color_main1;
    font-size: 14px;
    text-align: center;
    & span {
        display: block;
    }
    & .cart_box_help_mobile {
        margin-top: 10px;
        font-size: 20px;
        color: #333;
    }
}

/* табы */
.nav-tabs {
    & li {
        margin-bottom: -2px;
        font-size: 16px;
        & a:hover {
            background-color: #fff;
            border: none;
        }
    }
    & .select_sity {
        width: 50%;
    }
}
.tab-pane {
    padding: 60px 0 0 0;
}
.checkbox {
    display: inline-block;
}
.favorite_header {
    padding-bottom: 50px;
}
.favorite_product {
    color: @color_main1;
    border-right: 1px solid @color_main2;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 14px;
}
.checkboxFive {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-top: 7px;
    & input[type="checkbox"] {
        display: none;
    }
    & a {
        color: @color_blue;
        &:hover {
            color: @color_main4;
        }
    }
}
.checkboxFive span {
    font-size: 14px;
}
.checkboxFive label {
	cursor: pointer;
	position: absolute;
    z-index: 666;
	width: 20px;
	height: 20px;
	top: 0;
  	left: 0;
	border:1px solid @color_main2;
    border-radius: 5px;
}
.checkboxFive label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 5px;
	border: 3px solid @color_main3;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
	opacity: 0.5;
}
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkboxFive input[type=checkbox]:checked + label {
	opacity: 1;
    background: @color_blue;
}
.product_delete {
    .btn;
    background: @color_main3;
    color: @color_main1;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    color: @color_blue;

}
.nav-tabs>li.active {
    border-bottom: 1px solid @color_blue;   
}

/* profile */
.user_hello {
    display: inline-block;
    width: 100%;
    padding: 21px 30px;
    border: 1px solid @color_main2;
    border-radius: 5px;
    margin-bottom: 60px;
    & .user_hello_left, & .user_hello_right_column {
        display: inline-block;
        float: left;
    }
    & .user_hello_left {
        width: 90%;
    }
    & .user_hello_text {
        font-size: 16px;
        color: @color_main1;
        margin-left: 20px;
        margin-top: 10px;
        & span {
            color: #000;
        }
    }
    & .user_hello_right_column {
        width: 10%;
        & i {
            vertical-align: super;
        }
        & .table_cart_tr_delete {
            margin-right: 10px;
            line-height: 48px
        }
    }
    & .user_hello_exit {
        text-transform: uppercase;
        font-size: 12px;
        & > span {
            vertical-align: middle;
        }
    }
}
.nav-tabs {
    & li {
        & a {
            padding-bottom: 25px;
        }
        &:first-child {
            & a {
                padding-left: 0;    
            }
        }
    }
}
.profile_avatar {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    & img {
        height: 100%;
        width: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.profile_avatar_text {
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    & a {
        color: @color_blue;
        border-bottom: 1px dashed @color_blue;
        margin-bottom: 10px;
    }
    & span {
        display: block;
        color: @color_main1;
    }
}
.select_sity {
    border: 1px solid @color_main2;
    height: 50px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    & .select_sity_placeholder {
        color: @color_main1;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
    }
    & .select_sity_arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 30px;
        height: 30px;
        width: 30px;
        border-radius: 20px;
        background: @color_main2;
        padding: 5px 10px;
        & .span_arrow {
            
        }
    }
}

/* history order */
.history_order_head {
    font-size: 14px;
    margin-bottom: 15px;
    & .history_order_head {
        color: @color_main1;
    }
    & .history_order_restart {
        & span { 
            color: @color_blue;
            cursor: pointer;
        }
        & i {
            margin-right: 10px;
        }
    }
}
.history_order_table {
    & .history_order_table_head {
        color: @color_main1;
        text-transform: uppercase;
        font-size: 12px;
        padding: 25px 0;
        border-bottom: 1px solid @color_main2;
    }
    & .histoty_order_table_tr {
        padding: 25px 0;
        border-bottom: 1px solid @color_main2;
        font-size: 14px;
    }
}
/* order-info */
.order_info_title {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 25px;
    display: block;
}
.order_info_list {
    & .order_info_item {
        font-size: 14px;
        margin-bottom: 17px;
        & span {
            display: inline-block;
            position: relative;
            z-index: 10;
            background: #fff;
            &.txt {
                width: 60%;
                & span {
                    position: relative;
                    z-index: 10;
                    background: #fff;
                    padding-right: 10px;
                }
                &:after {   
                    position: absolute;
                    width: 100%;
                    overflow: hidden;
                    bottom: 1px;
                    left: 0;
                    content: "";
                    letter-spacing: 1px;
                    z-index: -1;
                    border-bottom: 1px solid @color_main2;
                }
            }
        }
        & > span:last-child {
            width: 39%;
            padding-left: 10px;
        }
    }
}
.order_info_footer {
    padding: 25px 0 0 0;
    & a, & span {
        color: @color_main1;
        font-size: 14px;
        margin-right: 40px;
        &:last-child {
            margin-right: 0px;
        }
            & i {
                color: @color_main1;
                margin-right: 8px;
                }
    }
    & .order_footer_price_list {
        margin: 0 50px 0 0;
        padding: 0;
        & .order_footer_price_item {
            font-size: 12px;
            margin-bottom: 25px;
            & i {
                margin-left: 4px;
            }
            & .price_item_title {
                color: @color_main1;
                text-transform: uppercase;
                width: 50%;
                text-align: right;
                display: inline-block;
                margin-right: 0;
                &.title_big {
                    color: @color_main4;
                    font-size: 16px;
                }
            }
            & .price_item_value {
                font-size: 16px;
                text-align: right;
                width: 50%;
                display: inline-block;
                float: right;
                color: @gray-base;
                & i {
                    color: @gray-base;
                }
            }
            & .price_item_value_big {
                font-size: 20px;
                text-align: right;
                display: inline-block;
                width: 50%;
                float: right;
                color: @gray-base;
                & i {
                    color: @gray-base;
                }
            }
        }
    }
}
.social_module {
    padding-top: 50px;
    border-top: 1px solid #dce0eb;
    & #vk_groups {
        margin-bottom: 20px;
    }
}
/* footer */
footer {
	margin-top: 80px;
	padding-top: 70px;
    font-size: 16px;
    border-top: 1px solid @color_main2;
    background-color: @color_main4;
    & ul li {
        margin-bottom: 30px;
        & a {
            color: #fff;
            &:hover {
                color: @color_blue;
            }
        }
    }
    & .footer_right {
        & span {
            display: block;
            margin-bottom: 15px;
            color: #fff;
        }
        & span:first-child {
            color: @color_main1;
        }
        & .social_footer_list {
            & a {
                display: inline-block;
                margin-right: 25px;
            }
        }
    }
    & .footer_bootom {
        margin-top: 60px;
        background: #303a3f;
        padding: 28px 0;
        color: @color_main1;
    }
    & .color_blue {
        margin-left: 30px;
        &:hover {
            color: #fff;
        }
    }
    & .pay_footer a {
        display: inline-block;
    }
    & .sprite_footer_pay {
        background: url("../image/icon_pay.png") no-repeat;
        display: block;
    }
    & .pay_mastercard {
        width: 35px;
        height: 35px;
        background-position: 0px 10px;
    }
    & .pay_visa {
        width: 38px;
        height: 30px;
        background-position: -47px 4px;
    }
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px;
    & > .close {
        border: none;
        position: inherit;
        color: @gray-base;
        height: auto;
        width: auto;
    }
}

/* breadcrumb */
.breadcrumb {
	padding: 75px 0 5px 0;
    background: none;
    color: @color_main1;
    margin-bottom: 10px;
    & li {
        position: relative;
        white-space: nowrap;
        &:last-child {
            & i {
                display: none;
            }
        }
        & a {
            color: @color_main1;
            font-size: 12px;
            text-transform: uppercase;
        }
        & i {
            margin: 0 15px;
        }
    }
}

.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.pagination_wrapper {
    padding: 35px 0 15px;
    border-top: 1px solid @color_main2;
}
.pagination {
	margin: 0;
    & li {
        & a,span {
            border-radius: 30px;
            border: none;
            padding: 11px 17px;
            color: @color_main4;
            font-size: 16px;
            margin: 0px 10px;
            &:first-child, &:last-child {
                border-radius: 30px;
            }
        }
        &.active {
            & span {
                background: @color_main2;
                color: @gray-base;
                &:hover {
                    background: @color_main2;
                    color: @gray-base;
                }
            }
        }
    }
}

/* category */
.category_title {
    font-size: 42px;
    margin-bottom: 60px;
    margin-top: 0px;
    display: block;
    line-height: 50px;
}

.left_column_title {
    margin-bottom: 35px;
    font-size: 16px;
    margin-right: 2px;
}

.list-group {
    padding-bottom: 40px;
    border-bottom: 1px solid @color_main2;
    &-item {
        border: none;
        font-size: 14px;
        padding: 7px 15px;
        margin: 3px 0px;
        &:first-child {
            border-radius: none;
        }
        &:hover {
            border-radius: 10px;
        }
        &.active {
            background: #edf0f9;
            border: none;
            border-radius: 10px;
            color: @gray-base;
            &:hover {
                background: @color_blue;
            }
        }
    }
    & .category_count {
        margin-left: 10px;
        font-size: 10px;
        color: @color_blue;
        background: #fff;
        border-radius: 30px;
        padding: 1px 5px;
    }
}

.left_block_master {
    padding-bottom: 50px;
    border-bottom: 1px solid @color_main2;
    & li {
        margin-bottom: 30px;
        min-height: 60px;
    }
    & .master_list {
        & li {
            clear: both;
            & a {
                color: @color_blue;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    & .master_list_pic {
        height: 60px;
        width: 60px;
        border-radius: 60px;
        overflow: hidden;
        display: inline-block;
        float: left;
        margin-right: 20px;
        background-size: inherit;
        background-position: center center;
        background-repeat: no-repeat;
        & img {
            width: auto;
            height: 100%;
        }   
    }
    & a {
        font-size: 14px;
        line-height: 24px;
    }
    & span {
        display: inline;
        padding-top: 13px;
    }
}

.left_block_recommend {
    padding: 0 0 50px 0;
    & .recommend_list {
        margin: 0;
        & li {
            margin-bottom: 30px;
            min-height: 50px;
            & .btn_circle_border {
                float: left;
                margin-right: 20px;
                & .recommend_list_img {
                    background: url(../image/sprites/sprite_main.png) no-repeat;
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                & .surprize {
                    width: 18px;
                    height: 20px;
                    background-position: -125px -56px;
                }
                & .pen {
                    width: 21px;
                    height: 20px;
                    background-position: -85px -55px;
                }
            }
            & a {
                font-size: 14px;
                line-height: 24px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* buttons */
.buttons {
	margin: 1em 0;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}

/* news block */
.news_block {
    padding: 15px 0 50px;
    & .news_block_head {
        margin-bottom: 60px;
        & .news_block_title {
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 10px;
        }
        & .all_news {
            margin-top: 20px;
            font-size: 16px;
            color: @color_blue;
        }    
    }
    & .news_block_list {
        & li {
            display: inline-block;
            vertical-align: top;
            width: ~'calc(50% - 30px)';
            margin-bottom: 30px;
            &:first-child {
                float: left;
                margin-right: 30px;
            }
        }
    }
    @media (max-width:992px) {
        & .news_block_list li {
            display: inline-block;
            width: 100%;
            clear: both;
            &:first-child {
                margin-right: 0;
            }
        }
    }
}

.news_block_list {
    & li {
        margin-bottom: 60px;
        position: relative;
    }
    & .news_block_pic {
        display: inline-block;
        width: 150px;
        height: 120px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        float: left;
        & img {
            width: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform: translate(-50%, 0%);
        }    
    }
    & .news_block_list_desc {
        padding: 7px 0 0 185px;
        vertical-align: top;
        & .news_block_list_date {
            color: @color_main1;
            font-size: 12px;
            margin-bottom: 12px;
            & i {
                margin-right: 7px;
            }
        }
        & .news_block_list_title {
            font-size: 16px;
            margin-bottom: 13px;
            color: @color_blue;
        }
        & .news_block_list_text {
            font-size: 14px;
            line-height: 24px;
        }
    }
    & li:first-child {
        & .news_block_pic {
            display: block;
            width: 100%;
            height: 442px;
            float: none;
            & img {
                transform: none;
                width: 100%;
            }
        }
        & .news_block_list_desc {
            display: block;
            background: @color_blue;
            border-radius: 0 0 10px 10px;
            padding: 30px 40px 12px 40px;
            position: absolute;
            bottom: 0;
            width: 100%;
            & .news_block_list_date {
                color: #fff;
                opacity: 0.5;
            }
            & .news_block_list_title {
                color: #fff;
            }
            & .news_block_list_text {
                display: none;
            }
        }
    }
    @media (max-width:650px) {
        & .news_block_pic {
            float: none;
        }
        & .news_block_list_desc {
            padding-left: 10px;
        }
    }
}

.news_left_block {
    margin-bottom: 50px;
    & .news_block_list {
        & li {
            margin-bottom: 40px;
            &:first-child {
                float: none;
                & .news_block_list_desc {
                    padding: 0;
                    background: none;
                    position: static;
                    & .news_block_list_date {
                        color: @color_main1;
                        opacity: 1;
                    }
                    & .news_block_list_title {
                        color: @color_blue;
                    }
                    & .news_block_list_text {
                        display: block;
                        color: #333;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            & .news_block_pic {
                display: none;
            }
        }
        & .news_block_list_desc  {
            padding: 0;
        }
    }
}

.events_list {
    & li {
        margin-bottom: 60px;
        position: relative;
    }
    & .news_block_pic {
        display: inline-block;
        width: 150px;
        height: 120px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        position: relative;
        float: left;
        & img {
            width: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform: translate(-50%, 0%);
        }    
    }
    & .news_block_list_desc {
        padding: 7px 0 0 185px;
        vertical-align: top;
        & .news_block_list_date {
            color: @color_main1;
            font-size: 12px;
            margin-bottom: 12px;
            & i {
                margin-right: 7px;
            }
        }
        & .news_block_list_title {
            font-size: 16px;
            margin-bottom: 13px;
            color: @color_blue;
        }
        & .news_block_list_text {
            font-size: 14px;
            line-height: 24px;
        }
    }
    & li:nth-child(1), & li:nth-child(2) {
        margin-right: 30px;
    }
    & li:nth-child(1), & li:nth-child(2), & li:nth-child(3) {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        & .news_block_pic {
            display: block;
            width: 100%;
            height: 200px;
            float: none;
            & img {
                transform: none;
                width: 100%;
            }
        }
        & .news_block_list_desc {
            display: block;
            background: @color_blue;
            border-radius: 0 0 10px 10px;
            padding: 30px 40px 12px 40px;
            width: 100%;
            min-height: 128px;
            & .news_block_list_date {
                color: #fff;
                opacity: 0.5;
            }
            & .news_block_list_title {
                color: #fff;
            }
            & .news_block_list_text {
                display: none;
            }
        }
        @media all and (max-width:1200px) {
            display: block;
            width: 100%;
            margin-right: 0;
        }
    }
    @media (max-width:650px) {
        & .news_block_pic {
            float: none;
        }
        & .news_block_list_desc {
            padding-left: 10px;
        }
    }
}

.events_filter {
    margin-top: 40px;
    & span {
        font-size: 18px;
    }
    & .dattime_wrap {
        display: inline-block;
        width: 230px;
        margin: -14px 20px;
        @media all and (max-width:992px) {
            & {
                margin: 0 20px;
                display: block;
            }
        }
    }
    & .input-group .form-control {
        z-index: 0;
    }
    & .btn {
        height: 40px;
    }
    & input[type=text] {
        background: @color_blue;
        border-radius: 10px;
        color: #fff;
        border: none;
        height: 30px;
        width: 200px;
        text-align: center;
          &::-moz-placeholder           { color: #fff; font-size: 14px; } // Firefox
          &:-ms-input-placeholder       { color: #fff; font-size: 14px; } // Internet Explorer 10+
          &::-webkit-input-placeholder  { color: #fff; font-size: 14px; } // Safari and Chrome
    }
}

.page_news {
    padding-top: 40px;
}
.home_blocks {
    background: @color_blue;
    width: 100%;
    color: #fff;
    font-size: 18px;
    display: block;
    border-radius: 10px;
    &:first-child {
        margin-top: 40px;
        height: 430px;
    }
    &:nth-child(2) {
        margin-top: 20px;
        height: 50px;
        background: #00c666;
        text-align: center;
        padding: 12px;
        border-radius: 10px;
        & img {
            margin-right: 10px;
        }
    }
    & .home_blocks__title {
        color: #fff;
        font-size: 18px;
        padding: 20px;
        text-align: center;
    }
    & .events_list_home {
        margin: 0 10px;
        padding: 20px 15px;
        background: #fff;
        & li {
            margin-bottom: 13px;
            & .events_pic {
                height: 60px;
                width: 90px;
                display: inline-block;
                border-radius: 10px;
                float: left;
                margin-right: 23px;
                background-size: cover;
                background-position: center;
            }
            & .events_title {
                font-size: 14px;
                margin-bottom: 10px;
                display: block;
            }
            & .events_date {
                color: #e8887b;
                font-size: 12px;
                display: block;
                font-weight: bold;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }    
    }
    & #events_all {
        color: #fff;
        font-size: 14px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        & i {
            margin-right: 10px;
        }
    }
}
.slider {
    width: auto;
    height: 500px;
}
.slide {
  width: 100%;
  height: 600px;
  background-color: @color_main3;
}
#slick-1 .slick-dots {
    list-style: none;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}
#slick-1 .slick-dots li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #9fa6bd;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
#slick-1 .slick-dots li button {
  width: 40px;
  height: 5px;
}
#slick-1 .slick-dots li.slick-active,
#slick-1 .slick-dots li:hover {
    background: @color_blue;
    height: 10px;
    width: 10px;
}
#slick-1 .slick-dots li button, 
#slick-1 .slick-dots li button:before {
  color: transparent;
  opacity: 0;
}

/* progress bar */
.slider-progress {
  width: 100%;
  height: 3px;
  background: @color_main3;
}
.slider-progress .progress {
  width: 0%;
  height: 3px;
  background: @color_blue;
}


/* carousel */
.slider-wrapper {
    margin-bottom: 10px;
    background: @color_main3;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    h1 {
        font-size: 42px;
        margin-bottom: 60px;
    }
    & .carousel_desc {
        padding-top: 180px;
    }
}

/* product carousel */
.product_carousel_wrapper {
    padding: 15px 0 0;
    border-bottom: 1px solid @color_main2;
    & .bx-wrapper {
        border: none;
        background: none;
        box-shadow: none;
        margin-bottom: 20px;
    }
    & .product_carousel_head {
        margin-bottom: 60px;
        & .product_carousel_title {
            font-family: "Proxima Nova Regular",sans-serif;
            line-height: 50px;
            margin: 10px 0 10px;
            font-size: 36px;
        }
        & .button_carousel {
            padding: 5px 0;
            text-align: center;
            & .bx-prev, & .bx-next {
                height: 50px;
                width: 50px;
                display: block;
            }
            & .button_nav {
                font-size: 36px;
                color: @color_main1;
                background-image: url("../image/sprites/sprite_arrow.png");
                background-repeat: no-repeat;
                display: block;
                margin-top: 10px;
                margin-left: 20px;
                &.nav_right {
                    width: 11px;
                    height: 19px;
                    background-position: -26px -5px;
                }
                &.nav_left {
                    width: 11px;
                    height: 19px;
                    background-position: -5px -5px;
                }
            }
        }
    }
}
/* product list */
.product_carousel {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    & .product-layout {
        display: inline-block;
        margin-right: 36px;
        vertical-align: top;
        width: ~'calc(100% / 3 - 36px)';
        max-width: 260px;
    }
}
.product_carousel_4 {
    & .product-layout:nth-child(4n) {
        margin-right: 0px;
    }
}
@media (max-width:1200px) {
    .product-layout {
        margin-right: 26px;
    }
    .product_carousel_3 .product-layout {
        width: ~'calc(100% / 2 - 36px)';
        max-width: none;
    }   
    .product_carousel_3 .product-layout:nth-child(2n) {
        margin-right: 0px;
    }
    .product_carousel_4 .product-layout:nth-child(3n) {
        margin-right: 0px;
    }
    .product_carousel_4 .product-layout:nth-child(4n) {
        margin-right: 36px;
    } 
}
@media (max-width:650px) {
    .product_carousel_3 .product-layout {
        width: 100%;
        max-width: none;
        margin-right: 0;
    }  
}
@media (max-width:991px) {
    .product_carousel_4 .product-layout {
        width: ~'calc(100% / 2 - 36px)';
        max-width: none;
    }
    .product_carousel_4 .product-layout:nth-child(2n) {
        margin-right: 0px;
    }
    .product_carousel_4 .product-layout:nth-child(4n) {
        margin-right: 36px;
    }
}

@media (max-width:650px) {
    .product_carousel_4 .product-layout {
        width: 100%;
        max-width: none;
        margin-right: 0;
    }
    .product_carousel_4 .product-layout:nth-child(2n) {
        margin-right: 0px;
    }
    .product_carousel_4 .product-layout:nth-child(3n) {
        margin-right: 0;
    }
    .product_carousel_4 .product-layout:nth-child(4n) {
        margin-right: 0;
    } 
}

/* sort content */
.content_top {
    font-size: 14px;
    margin-bottom: 30px;
    & .count_search {
        display: block;
    }
}
.content_sort {
    display: inline-block;
    font-size: 14px;
    margin: 7px 0 0 0;
    & .content_sort_item {
        margin: 0px 5px;
        cursor: pointer;
        & a {
            color: @color_main1;
        }
        & #sort_active {
            background-color: #edf0f9;
            padding: 8px 30px 8px 20px;
            border-radius: 30px;
            display: block;
            color: @gray-base;
            & i {
                color: @color_blue;
                font-size: 10px;
            }
        }
    }
}
.product-thumb {
	margin-bottom: 75px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
    position: relative;
    min-height: 230px;
}
.product-thumb .image a {
	display: block;
    z-index: 666;
    max-height: 230px;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
    position: relative;
    z-index: 666;
    border-radius: 3px;
    height: 100%;
    width: auto;
    max-height: 230px;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding-top: 30px;
	min-height: 180px;
    & .product_attributes_list {
        margin: 0;
        padding: 0;
        & .product_attributes_item {
            font-size: 16px;
            margin-bottom: 10px;
            & .product_caption_title {
                color: @color_main1;
                font-size: 14px;
            }
            & span {
                display: block;
                font-size: 14px;
            }
        }
    }
    & span {
        & i {
            margin-left: 5px;
            font-size: 10px;
        }
    }
    & .product_title {
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        min-height: 40px;
        & a:hover, & a:focus {
            color: @color_blue;
            text-decoration: none;
        }
    }
    & .product_count {
        display: inline-block;
        padding-top: 12px;
        font-size: 16px;
    }
    & .product_caption_footer {
        margin-top: 20px;
    }
    & .product_caption_buy {
        text-align: right;
        & .btn_circle_background_small {
            vertical-align: top;
        }
        & span {
            display: inline-block;
        }
        & .fa {
            font-size: 20px;
        }
    }
    & .product_caption_buy__featured {
        text-align: left !important;
        padding-top: 10px;
    }
}
.btn_pic {
    background: url("../image/sprites/sprite_main.png") no-repeat;
    display: block;
    width: 20px;
    height: 21px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn_pic_star {
    background-position: -5px -5px;
}
.btn_pic_share {
    background: url("../image/sprites/sprite_main.png") no-repeat;
    background-position: -125px -15px;
    display: block;
    width: 20px;
    height: 21px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	display: inline-block;
    font-size: 16px;
}
.product-thumb .price-old {
    font-size: 12px;
    display: inline-block;
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 14px;
	display: block;
}
.product-thumb .button-group {
    margin-bottom: 90px;
    overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* contact form */
.mini_title {
    font-size: 18px;
    margin: 30px 0 40px;
    display: inline-block;
}
.contact_footer {
    & .btn_big_blue {
        display: block;
        margin-top: 60px;
    }
}

/* services page */
.services_wrapper {
    padding-top: 40px;
    & .services_list {
        margin: 0;
        padding: 0;
        & .services_item {
            vertical-align: top;
            margin: 0 30px 30px 0;
            padding: 30px;
            width: ~'calc(100% / 2 - 32px)';
            border: 1px solid @color_main2;
            border-radius: 5px;
            cursor: pointer;
            background: #fff;
            &:hover {
                background: @color_main3;
            }
            & .big_blue_circle {
                margin-right: 20px;
            }
            & a {
                display: block;
            }
            & .services_item_title {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

@media (max-width:700px) {
    .services_wrapper .services_list .services_item {
        width: 100%;
        margin-right: 0;
    }
}

.services_block_pic {
    display: inline-block;
    float: left;
    width: 29%;
    & img {
        max-width: 50px;
    }
}

.services_item_title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
    width: 70%;
    min-height: 50px;
}

.search_item_count {
    font-size: 14px;
    margin-bottom: 40px;
    & #search_result_count {
        margin-right: 4px;
    }
    & span:first-child {
        color: @color_main1;
    }
}
.row_pagination_border {
    padding-top: 30px;
    border-top: 1px solid @color_main2;
}
.profile_save {
    padding-top: 10px;
}

.title404 {
    font-size: 90px;
    display: block;
    line-height: 45px;
    margin-bottom: 30px;
    font-family: "Proxima Nova Regular", sans-serif;
}

.mini_title404 {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.page404 {
    padding-top: 200px;
    max-width: 480px;
    & a {
        color: @color_blue;    
    }
    & .search_main .input-lg {
        margin-top: 55px;
    }
}
.delivery_point_list {
    margin: 0;
    padding: 0;
    & .delivery_point_item {
        padding: 10px;
        &:hover {
            cursor: pointer;
            background-color: @color_main3;
            border-radius: 10px;
            color: #a6adc3;
        }
    }
}
.text_info {
    font-weight: bold;
    color: @color_blue;
    padding: 20px 0;
    display: block;
}
#link_modal {
    text-decoration: underline;
}
.modal_delivery_point_text {
    display: block;
    color: #acb2c7;
}
.share_block_bottom {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: @color_main2;
    margin-top: 20px;
    .share_title {
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        padding-top: 28px;
    }      
    & .share_list {
        display: inline-block;
        float: right;
        margin: 0;
        & .share_item {
            display: inline-block;
            margin: 15px 10px 15px 10px;
            &:last-child {
                margin-right: 0;
            }
            & .share_link {
                display: block;
                padding: 10px 20px 10px 40px;
                border-radius: 30px;
                position: relative;
                color: #fff;
                text-transform: uppercase;
                &:before {
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    transform: translate(0, -50%);
                }
                &.share_vk {
                    background: #4c75a3;
                    &:before {
                        content: "\f189";
                        font-family: FontAwesome;
                    }
                }
                &.share_fb {
                    background: #215b9a;
                    &:before {
                        content: "\f09a";
                        font-family: FontAwesome;
                    }
                }
                &.share_odn {
                    background: #ee8208;
                    &:before {
                        content: "\f263";
                        font-family: FontAwesome;
                    }
                }
            }
            @media (max-width:500px) {
                & {
                    display: block;
                }
            }
        }
    }
}
.content_slider .owl-nav {
    text-align: right;
    padding: 28px 0;
}
.content_slider .owl-next, .content_slider .owl-prev {
    border-radius: 50%;
    border: 1px solid @color_main2;
    height: 38px;
    width: 38px;
    text-align: center;
    color: @color_main1;
    font-size: 20px;
    display: inline-block;
}
.content_slider .owl-prev {
    margin-right: 30px;
    &:after {
        font-family: FontAwesome;
        content: "\f104";
        line-height: 38px;
    }
}
.content_slider .owl-next {
    &:after {
        font-family: FontAwesome;
        content: "\f105";
        line-height: 38px;
    }
}
.content_slider_wrapper {
    margin: 40px 0;
    & .item img {
        border-radius: 10px;
    }
    position: relative;
    & .slider_couner__count {
        position: absolute;
        bottom: 35px;
        right: 42px;
        color: #9096a8;
    }
}

//single news page
.page #column-right {
    padding-top: 94px;
}

.news_page_desc {
    & .news_page_desc_item {
        display: inline-block;
        color: @color_main1;
        margin-right: 30px;
        & i {
            margin-right: 7px;
        }
    }
}

.news_page_content {
    padding-top: 50px;
    font-size: 16px;
    line-height: 28px;
    & ul {
        & li {
            list-style: none;
            margin-bottom: 5px;
            &:before {
                color: @color_blue;
                content: "•";
                padding-right: 15px;
            }
        }
    }
}

blockquote {
    padding: 40px 20px 40px 200px;
    border: none;
    position: relative;
    margin: 40px 0;
    font-size: 16px;
    line-height: 28px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: @color_main2;
    min-height: 170px;
    &:before {
        position: absolute;
        top: 40px;
        left: 40px;
        font-family: FontAwesome;
        content: "";
        background-image: url("../image/exclamation.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-color: @color_main3;
        height: 90px;
        width: 90px;
    }
    @media (max-width:500px) {
        & {
            padding-left: 100px;
            &:before {
                left: 0;
            }
        }
    }
}
.map_wrapper {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    & iframe {
        width: 100%;
        pointer-events: none;
        &.clicked{
            pointer-events: auto;
        }
    }
}
.map_block {
    margin-bottom: 80px;
    &_title {
        display: block;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 80px;
    }
}
.contacts_store_head {
    & .store_title, & .store_select {
        font-size: 24px;
        line-height: 50px;
    }
    & .store_select {
        cursor: pointer;
        color: @color_blue;
        position: relative;
        padding: 10px 0;
        &:after {
            content: "\f107";
            font-family: FontAwesome;
            font-size: 20px;
        }
    }
    & .count_store {
        font-size: 14px;
        line-height: 30px;
        color: #9fa6bd;
        float: right;
        padding-top: 15px;
        & .count_store_num {
            color: #000;
        }
    }
}
.store_select_wrap {
    display: none;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
    position: absolute;
    width: 230px;
    top: 50px;
    right: -30px;
    z-index: 666;
    transition: .5s all;
    color: #000;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.14);
    background: #fff;
    & .search_select_list {
        margin: 0;
        & .search_select_item {
            padding: 10px;
            &:hover {
                background: @color_main3;
                border-radius: 10px;
            }
        }
    }
}
.store_select_list {
    margin-left: 20px;
    & .store_select_item {
        font-size: 14px;
        line-height: 24px;
    }
}
.store_select_wrap:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 30px;
    box-sizing: border-box;
    border: 9px solid #000;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -7px 5px 11px 0px rgba(0,0,0,.14)
}
.store_select:hover .store_select_wrap {
    display: block;
}
.contact_wrapper {
    border: 1px solid @color_main2;
    border-radius: 5px;
    min-height: 500px;
    position: relative;
    margin-top: 50px;
    & .contacts_left, & .contacts_right {
        display: inline-block;
        float: left;
    }
    & .contacts_left {
        padding: 50px;
        width: 40%;
        position: relative;
        height: 500px;
        background: #fff;
        & h3 {
            margin-top: 0;
            font-size: 18px;
            color: #9fa6bd;
            margin-bottom: 35px;
        }
        & .contacts_list {
            & .contacts_item {
                margin-bottom: 15px;
                & span, & a {
                    line-height: 32px;
                    font-size: 16px;
                    display: block;
                }
                & a {
                    color: @color_blue;
                }
                & img {
                    margin-right: 10px;
                    vertical-align: initial;
                    margin-bottom: -1px;
                }
            }
        }
        & .contacts_link {
            position: absolute;
            bottom: 50px;
            left: 50px;
            & a {
                color: #9fa6bd;
                display: block;
                font-size: 14px;
                line-height: 26px;
                & i {
                    margin-right: 10px;
                }
                &:hover {
                    color: @gray-base;
                }
            }
        }
    }
    & .contacts_right {
        width: 60%;
        height: 500px;
        position: relative;
        overflow: hidden;
        & iframe {
            width: 100%;
            height: 100%;
        }
    }
    @media (max-width:700px) {
        & .contacts_left {
            height: 400px;
        }
        & .contacts_left, .contact_wrapper .contacts_right {
            float: none;
            display: block;
        }
        & .contacts_left, & .contacts_right  {
            width: 100%;
        }
    }
}
.contacts_right_map {
    height: 100%;
}
.map_button_wrapper {
    position: absolute;
    left: 50%;
    margin-left: -106px;
    & .map_button_map, & .map_button_foto {
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
    }
    & .map_button_map {
        padding: 15px 20px 15px 26px;
        background-color: @color_blue;
        border-radius: 30px 0  0 30px;
        width: 106px;
        display: inline-block;
        color: #fff;
        margin-right: -4px;
    }
    & .map_button_foto {
        padding: 15px 26px 15px 20px;
        background-color: #fff;
        border-radius: 0 30px 30px 0;
        width: 102px;
        display: inline-block;
        color: @color_main1;
    }
}
.contacts_right_foto {
    display: none;
    height: 100%;
    width: auto;
    border-radius: 0 5px 5px 0;
}
.other_city {
    display: none;
}
.contacts_table {
    padding-top: 80px;
    & table {
        width: 100%;
        & thead {
            & td {
                color: #9fa6bd;
                text-transform: uppercase;
            }
        }
        & tbody {
            td:last-child {
                text-align: right;
                & a {
                    color: #9fa6bd;
                }
            }
        }
        & tr {
            border-bottom: 1px solid @color_main2;
        }
        & td {
            padding: 25px 0;
            font-size: 14px;
        }
    }
    @media (max-width:650px) {
        & table thead {
            display: none;
        }
        & table td {
            display: block;
            text-align: right;
            font-size: 13px;
            border: 0;
            border-bottom: 1px dotted #a0a0a0;
            width: 100%;
        }
        & table td:before {
            content: attr(data-label);
            float: left;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            padding: 0 8px;
            background: #eee;
        }
    }
}
.requisiter_text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    text-align: center;
}
.requisiter_list {
    margin: 0;
    padding: 0;
    & .requisites_item {
        & .requisites_item_column {
            display: inline-block;
            float: left;
            width: 50%;
            padding: 15px;
            font-size: 16px;
            &:first-child {
                color: #9fa6bd;
                text-transform: uppercase;
            }
        }
    }
    @media (max-width:550px) {
        & .requisites_item .requisites_item_column {
            float: none;
            width: 100%;
            text-align: left;
        }
    }
}
.requisites_link {
    padding-top: 35px;
    & a {
        display: inline-block;
        width: 48%;
        border: 1px solid @color_main2;
        border-radius: 5px;
        padding: 30px 25px;
        transition: 0.5s all;
        &:hover, &:focus {
            text-decoration: none;
            background-color: #f1f1f1;
        }
        & .requisites_link_icon {
            text-transform: uppercase;
            color: #fff;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            line-height: 45px;
            text-align: center;
            display: inline-block;
            float: left;
            margin-right: 20px;
        }
        &:first-child .requisites_link_icon {
            background-color: #ff6060;
        }
        &:last-child .requisites_link_icon {
            background-color: #9fa5b7;
        }
        & .requisites_link_text {
            color: #9fa6bd;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
.history_back {
    color: @color_main1;
//    margin-top: 60px;
//    display: block;
    & i {
        margin-right: 10px;
    }
}
.status_order {
    color: @color_main1;
}
.title_result_search {
    margin-bottom: 45px;
}
.text-danger {
    color: #ff5656;
    font-size: 14px;
    line-height: 24px;
    padding-top: 5px;
    text-align: left;
}
.icon_user {
    background-image: url("../image/icon_user.png");
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    &:hover {
        background-image: url("../image/icon_user.png");
        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: middle;
    }
}
.wrapper_textarea {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -12px;
        left: 20px;
        box-sizing: border-box;
        border: 6px solid #000;
        border-color: transparent transparent #edf0f9 #edf0f9;
        transform-origin: 0 0;
        transform: rotate(-46deg);
    }
}
.review_user {
    padding-top: 20px;
}
.review_avatar {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: block;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 20px;
    & img {
        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
.review_name {
    font-size: 14px;
    line-height: 24px;
    padding-top: 9px;
    display: inline-block;
}
#form-review {
    padding-top: 40px;
}
.review_select_star {
    input[type="radio"] {
        display: none;
    }
    & label {
        margin: 0 2px;
    }
    & span {
        margin: 0 5px;
    }
}
.list-category_left {
    margin-bottom: 50px;
}
.news_block .news_block_list li:first-child .news_block_pic img {
    width: auto;
}
.validate_modal {
    display: none;
}
.no_valid {
    background-color: #fde4e4;
}
.recovery_pass {
    color: @color_main1;
}
#but_reg {
    color: @color_blue;
}
.or_margin {
    margin: 0 20px;
}
.modal_center {
    margin-top: 15%;
}
.share_block {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border: none;
    & .share_list {
        & .share_item {
            margin-right: 0;
            display: block;
        }
    }
}
#share_show {
    position: relative;
}
#vk_groups, .social_home_wrap iframe, #ok_group_widget {
    display: inline-block;
    vertical-align: top;
}

#vk_groups, #ok_group_widget {
    margin-right: 20px;
}

.bootstrap-datetimepicker-widget {
    cursor: pointer;
    padding: 10px 20px;
}

#reset_date {
    display: inline-block;
    width: auto;
    padding: 0px 35px;
    height: 40px;
}